{% extends "layout.html" %}
{% block content %}
<div id="about_div">
    <h3 id="page_nm_about">About</h3>
    <p>Hello, welcome and thank you for using this website!</p>
    <div id="about_image1">
        <img src="{{ url_for('static', filename='scooterC.jpg') }}">
    </div>
    <p>
        This website is dedicated to giving Leeds a better, quicker and green form of public transport.<br>
        To do this, we provide a booking service for electric scooters in which you can book a scooter<br>
        by searching for the nearest depot and having a scooter there reserved for you for one or more days.<br><br>
        This project was made possible with the help of Computer Science students at Leeds Trinity University<br>
        for more information, please visit leedstrinity.ac.uk/ScooterBooker.
    </p>
</div>
{% endblock %}