{% extends "layout.html" %}
{% block content %}
<div id="account_div">
    <h3 id="page_nm_account">{{ user }}</h3>
    <p>Forename: {{ userinfo.user_forename }}<br>
        Surname: {{ userinfo.user_surname }}<br>
        Username: {{ userinfo.user_username }}<br>
        Email: {{ userinfo.user_email }}<br>
        Phone Number: {{ userinfo.user_phone }}</p>
        {% if userinfo.depot_name != None and userinfo.depot_name != "" %}
            <div id="account_scooter_info_div">
                <h3 id="accout_scooter_info_heading">Your Scooter Information</h3>
                {% block your_depot %}
                <br><p>Your Depot: {{ userinfo.depot_name }}</p>
                {% endblock your_depot %}
                {% if userinfo.scooter_id != None %}
                    {% block your_scooter_id %}
                    <p>Your Scooter's ID: {{ userinfo.scooter_id }}</p>
                    {% endblock your_scooter_id %}
                {% endif %}
                {% if userinfo.scooter_charge != None %}
                    {% block your_scooter_charge %}
                    <p>Your scooter's current charge: {{ userinfo.scooter_charge }}%</p>
                    {% endblock your_scooter_charge %}
                {% endif %}
                {% if userinfo.scooter_times_used != None %}
                    {% block your_scooter_usage %}
                    {% if userinfo.scooter_times_used == 1 %}
                        {% block one_use %}
                        <p>Your scooter has been used: {{ userinfo.scooter_times_used }} time</p>
                        {% endblock one_use %}
                    {% else %}
                        {% block more_use %}
                        <p>Your scooter has been used: {{ userinfo.scooter_times_used }} times</p>
                        {% endblock more_use %}
                    {% endif %}
                    {% endblock your_scooter_usage %}
                {% endif %}
                <br><p>Please present this information to the staff at the depot when you arrive.</p>
                <div id="account_return_scooter_div">
                    <br><p>Done with your scooter? Click here:</p>
                    <p id="account_return_scooter"><a href="{{ url_for('unbooking') }}">Return Scooter</a></p>
                </div>
            </div>
        {% endif %}
    <p>Want to delete your account?</p>
    <p><a href="{{ url_for('delete_account') }}" id="account_delete_button">Delete Account</a></p>
</div>
{% endblock %}