{% extends "layout.html" %}
{% block content %}
<div id="admin_div">
    <h3 id="page_nm_admin">Admin Control Page</h3>
    <p>This page is for controlling the website. If you aren't an admin, something must have gone terribly wrong.</p>
    <br><p>Recharge all scooters</p>
    <p id="charge_scooters_link"><a href="{{ url_for('admin', command='charge') }}">Charge</a></p>
    <br><p>Open all depots</p>
    <p id="open_depots_link"><a href="{{ url_for('admin', command='open_depots') }}">Open</a></p>
    <p>Close all depots</p>
    <p id="close_depots_link"><a href="{{ url_for('admin', command='close_depots') }}">Close</a></p>
    <br><p>Delete all users (Apart from admin)</p>
    <p id="user_purge_link"><a href="{{ url_for('admin', command='user_purge') }}">User Purge</a></p>
</div>
{% endblock %}