{% extends "layout.html" %}
{% block content %}
<div id="booking_div">
    <h3 id="page_nm_booking">Booking</h3>
    <p>Please enter your post code (E.G: LS18 5HD):</p>
    <input type="text" id="booking_postcode" name="txt_bokking_pcode" maxlength=9><br>
    <button type="button" id="booking_searchbutton">Search</button>
    <p id="booking_div_error_msg">Please enter your post code.</p>
    {% if depots!= None %}
        {% block searched %}
        <h3><b>{{ search }}</b></h3>
        <h3><b>Nearest depot to you:</b></h3>
        <div id="booking_nearest_div">
            <p>{{ depots.depot_name }}</p>
            <p>{{ depots.depot_location }}</p>
            {% if depots.depot_open == true %}
                {% block dep_open %}
                <p id="depot_status">Currently Open</p>
                {% endblock dep_open %}
            {% else %}
                {% block dep_closed %}
                <p id="depot_status">Currently Closed</p>
                {% endblock dep_closed %}
            {% endif %}
            <div id="booking_depot_image">
                <img src="{{ depots.depot_imagename }}">
            </div>
            <p id="booking_depot_link"><a href="{{ url_for('booking_scooters', depot_name=depots.depot_name) }}">Book a scooter</a></p>
        </div>
        {% endblock searched %}
    {% endif %}
</div>
<script src="{{ url_for('static', filename='depotSearch.js') }}"></script>
{% endblock %}