{% extends "layout.html" %}
{% block content %}
<div id="booking_success_div">
    <h3 id="page_nm_success">Booking Success!</h3>
    <p>To view your booking information, please click your account name on the navigation bar.</p>
    <p>You have successfully booked a scooter and will be redirected shortly...</p>
</div>
<script src="{{ url_for('static', filename='successTimer.js') }}"></script>
{% endblock %}
