{% extends "layout.html" %}
{% block content %}
<div id="unbooking_success_div">
    <h3 id="page_nm_unbooking">Thank you for using our service</h3>
    <p>Here is some information about your journey:</p>
    <div id="unbooking_journey_info">
        <p>Your rode your scooter for {{ info.scooter_mileage }} Miles.</p>
        <p>You also burned a potential {{ info.scooter_cal }} calories.</p>
        <p>Your average speed was {{ info.scooter_av_speed }} MPH.</p>
        <p>But most importantly: You prevented {{ info.scooter_co2_prevented }} grams of CO2 from entering the air*.</p>
        <p id="unbooking_disclaimer">*Based on average car pollution per mile. (411 grams per mile)</p>
    </div>
    <br><p>Thank you again for using our service. We hope you use it again!</p>
    <p>(To continue, click any of the navigation buttons)</p>
</div>
{% endblock %}
