{% extends "layout.html" %}
{% block content %}
<div id="depot_div">
    <h3 id="page_nm_depots">{{ depot_info.depot_name }}</h3>
    <div id="booking_depot_image">
        <img src="{{ depot_info.depot_imagename }}">
    </div>
    <p>Location {{ depot_info.depot_location }}</p>
    {% if depot_info.depot_open == true %}
        {% block dep_open %}
        <p id="depot_status">Currently Open</p>
        <p>Scooters Available: {{ depot_info.depot_scooter_count }}</p>
        {% if depot_info.depot_scooter_count >= 1 %}
            {% block scooters_available %}
            <p id="booking_scooter_book"><a href="{{ url_for('booking_scooter_set', depot_name=depot_info.depot_id) }}">Book</a></p>
            {% endblock scooters_available %}
        {% else %}
            {% block scoots_not_available %}
            <p id="booking_no_scooters">No Scooters Availalbe</p>
            {% endblock scoots_not_available %}
        {% endif %}
        {% endblock dep_open %}
    {% else %}
        {% block dep_closed %}
        <p id="depot_status">Currently Closed</p>
        {% endblock dep_closed %}
    {% endif %}
</div>
{% endblock %}