{% extends "layout.html" %}
{% block content %}
<div id="depot_div">
    <h3 id="page_nm_depots">Depots</h3>
    <p>This is a list of all depots we currently run.<br>
    All depots are open from Monday to Friday between 8AM and 5PM.</p><br>
    {% for depot in depot_info %}
        <div id="depot_images">
            <img src="{{ depot.depot_imagename }}">
        </div>
        <p id="depot_name"><b>{{ depot.depot_name }}</b></p>
        <p id="depot_loc">Address: {{ depot.depot_loc }}</p>
        {% if depot.depot_status == true %}
            {% block dep_open %}
            <p id="depot_status">Currently Open</p>
            {% endblock dep_open %}
        {% else %}
            {% block dep_closed %}
            <p id="depot_status">Currently Closed</p>
            {% endblock dep_closed %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}