{% extends "layout.html" %}
{% block content %}
<div id="home_div">
    <div id="home_paragraph1">
        <h3 id="page_nm_home">Home</h3>
        <div id="home_image1">
            <img src="{{ url_for('static', filename='scooterA.jpg') }}">
        </div>
        <b><p>A Better Way To Get Around</p></b>
        <p>
            Traffic in Leeds is becoming a major issue.<br>
            The bus services get caught up in the traffic and are usually late.<br>
            Are you tired of spending potential hours getting around Leeds?<br>
            We're happy to help.<br>
            We offer the option of booking electrical scooters which get you from A to B<br>
            more quickly. (And more fun!)
        </p>
    </div>
    <br>
    <div id="home_paragraph2">
        <div id="home_image2">
           <img src="{{ url_for('static', filename='scooterB.jpg') }}">
        </div>
        <b><p>A Greener City</p></b>
        <p>
            Electric scooters produce no pollution.<br>
            They also don't require big open roads to get around.<br>
            This not only helps to make getting places quicker,<br>
            but it also helps against the pollution of the city<br>
            by reducing the amount of cars stuck waiting at junctions.<br>
            A cleaner city looks better too.
            <br>
            <br>
            To book a scooter, click/tap "Book a Scooter" at the top of the page.
        </p>
    </div>
</div>
{% endblock %}