{% extends "layout.html" %}
{% block content %}
<div id="signup_div">
    <h3 id="page_nm_signup">Signup</h3>
    <div id="signup_boxes">
        <p>Forename*:</p>
        <input class="textbox" type="text" id="signup_forename" name="txt_signup_uname" maxlength=99>
        <p>Surname*:</p>
        <input class="textbox" type="text" id="signup_surname" name="txt_signup_uname" maxlength=99>
        <p>Username*:</p>
        <input class="textbox" type="text" id="signup_username" name="txt_signup_uname" maxlength=99>
        <p>Password*:</p>
        <input class="textbox" type="password" id="signup_password" name="txt_signup_uname" maxlength=99>
        <p>Email:</p>
        <input class="textbox" type="text" id="signup_email" name="txt_signup_uname" maxlength=99>
        <p>Phone Number</p>
        <input class="textbox" type="text" id="signup_phone_no" name="txt_signup_uname" maxlength=99><br>
        <button type="button" id="signup_subbutton">Signup</button>
    </div>
    <p id="signup_div_error_msg">Please fill in both boxes.</p>
</div>
<script src="{{ url_for('static', filename='signup.js') }}"></script>
{% endblock %}