body{
    font-family: Helvetica, Arial;
    background-image: url('ScooterBackground.jpg');
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav{
    text-align: center;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
ul{
    display: inline;
}
li{
    background-color: rgba(255, 255, 255, 0.9);        
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
}
#title{
    text-align: center;
    line-height: 120%;
    background-color: orange;
    padding: 10px;
    width: 400px;
    margin: auto;
    border-radius: 8px;
}
#page_nm_home, #page_nm_about, #page_nm_login, #page_nm_account, #page_nm_signup, #page_nm_depots, #page_nm_booking, #page_nm_success, #page_nm_unbooking, #page_nm_admin{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
#home_div, #about_div, #depot_div, #recipies_div, #login_div, #account_div, #signup_div, #booking_div, #booking_success_div, #unbooking_success_div, #admin_div{
    text-align: center;
    line-height: 100%;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: auto;
}
#home_image1, #home_image2, #about_image1, #depot_images, #booking_depot_image{
    width: 600px;
    height: auto;
    margin: auto;
    border: 8px solid rgb(153, 255, 0);
    border-radius: 8px;
    display: block;
}
img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}
#login_div_error_msg, #login_div_login_failed, #signup_div_error_msg, #signup_div_signup_failed, #booking_div_error_msg{
    color: red;
    text-align: center;
}
#login_account_message{
    margin-bottom: 0%;
}
#login_signup_link, #booking_depot_link{
    background-color: rgba(0, 255, 0, 1);
    padding: 10px;
    display: inline-block;
    border: 4px solid black;
    border-radius: 8px;
}
#account_delete_button, #booking_no_scooters, #close_depots_link, #user_purge_link{
    background-color: rgba(255, 0, 0, 1);
    padding: 10px;
    display: inline-block;
    border: 4px solid black;
    border-radius: 8px;
    color: white;
}
#login_subbutton, #signup_subbutton{
    margin-top: 20px;
    height: 20%;
    width: 10%;
    margin-bottom: 0%;
    font-size: 20px;
}
#depot_name{
    font-size: 28px;
}
#booking_postcode{
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 25%;
}
#booking_searchbutton{
    width: 25%;
    height: 25px;
    margin-top: 10px;
}
#booking_nearest_div, #account_scooter_info_div{
    text-align: center;
    line-height: 100%;
    font-size: 22px;
    background-color: rgba(249, 166, 28, 0.5);
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: auto;
    width: 85%;
    padding-bottom: 10px;
}
#account_return_scooter_div, #unbooking_journey_info{
    text-align: center;
    line-height: 100%;
    font-size: 22px;
    background-color: rgba(0, 255, 0, 0.5);
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: auto;
    width: 25%;
}
#booking_depot_image{
    border-color: rgba(116, 193, 237, 1);
}
#booking_depot_link, #booking_scooter_book, #account_return_scooter, #charge_scooters_link, #open_depots_link{
    background-color: rgba(0, 255, 0, 1);
    padding: 10px;
    display: inline-block;
    border: 4px solid black;
    border-radius: 8px;
}
#booking_div{
    padding-bottom: 10px;
    text-align: center;
}
#accout_scooter_info_heading{
    margin-bottom: 0%;
}
.textbox{
    text-align: center;
}
#unbooking_disclaimer{
    font-size: 12px;
}