{% extends "layout.html" %}
{% block content %}
<h3 id="page_nm_create">Create Recipe</h3>
<div id="create_main_div">
    <p>Recipe Name</p>
    <input type="text" id="create_txt_name" name="txt_rec_name" maxlength=254><br><br>
    <p>Recipe Description</p>
    <textarea type="text" id="create_txt_desc" name="txt_rec_desc" maxlength=599></textarea><br><br>
    <p>Recipe Instructions (Each step must begin with a hypen)</p>
    <textarea type="text" id="create_txt_inst" name="txt_rec_inst" maxlength=2399></textarea><br><br>
    <p>Recipe Ingredients</p>
    <textarea type="text" id="create_txt_rec_ing" readonly></textarea><br><br>
    <select name="ingselect" id="ing_select">
        {% for item in ing_list %}
        <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    <button type="button" id="add_ing_button">Add Ingredient</button>
    <button type="button" id="clear_ing_button">Clear Ingredients</button>
    <p>Your Username</p>
    <input type="text" id="create_txt_unme" name="txt_rec_unme" maxlength=254><br><br>
    <button type="button" id="create_subbutton">Submit Recipe</button>
</div>
<p id="SubmitError">!</p>
<script src="{{ url_for('static', filename='create.js') }}"></script>
{% endblock %}