{% extends "layout.html" %}
{% block content %}
<h3 id="recipe_name">{{ recipe_info.Name }}</h3>
<div id="recipe_info">
    <h3 class="recipe_info_headings"><b>Description:</b></h3>
    <p>{{ recipe_info.Description }}</p>
    <h3 class="recipe_info_headings"><b>Instructions:</b></h3>
    {% autoescape false %}
    <p>{{ recipe_info.Instructions }}</p>
    {% endautoescape %}
    <h3 class="recipe_info_headings"><b>Ingredients:</b></h3>
    <ul id="recipe_ing_list">
        {% for item in recipe_ingredients %}
            <li class="item_ingredient">{{ item }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}