{% extends "layout.html" %}
{% block content %}
<h3 id="page_nm_recipies">Recipies</h3>
<div id="recipies_div">
    {% for item in recipes %}
    <div>
        <a href="extrainfo/{{ item.rec_id }}">
            <div class="list_of_recipes">
                <p><b>{{ item.rec_name }}</b></p>
                <p>Description: {{ item.rec_desc }}</p>
                <p>Author: {{ item.rec_auth }}</p>
            </div>
            <br>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}