{% extends "layout.html" %}
{% block content %}
<h3 id="page_nm_create">Oops?</h3>
<div  id="create_main_div">
    <p>Doctor Freeman...</p>
    <p>I realize this moment may not be the most convenient for a heart-to-heart, but I had to wait until your... Friends, eh? Were otherwise occupied.</p>    
    <p>There was a time they cared nothing for miss Vance, when their only experience of humanity was a crow-- bar, coming at them down a steel corridor.</p>    
    <p>When I plucked her from Black Mesa, I acted in the face of objections, that she was a mere child, and of no practical use to anyone. I have since learned to ignore such naysayers, when...</p>
    <p>Quelling them, hm? Was out of the question.</p>
    <p>Still, I am not one to squander my investments, and I remain confident that she was worth far more than the initial... Appraisal. That's why I must now extract from you some small</p>
    <p>repayment owed for your own survival.</p>    
    <p>See her safely to White Forest, Dr. Freeman. I wish I could do more than keep an eye on you, but I have agreed to abide by certain... Restrictions, hm?</p>
    <p>Now, listen carefully my dear. When you see your... Father... Relay these words.</p>
    <p>Prepare for unforceen consequences.</p>
</div>
{% endblock %}